@import "tailwindcss";

@layer base {
  @theme {
    /* color - woodsmoke */
    --color-woodsmoke-50: #f6f6f6;
    --color-woodsmoke-100: #e7e7e7;
    --color-woodsmoke-200: #d1d1d1;
    --color-woodsmoke-300: #b0b0b0;
    --color-woodsmoke-400: #888888;
    --color-woodsmoke-500: #6d6d6d;
    --color-woodsmoke-600: #5d5d5d;
    --color-woodsmoke-700: #4f4f4f;
    --color-woodsmoke-800: #454545;
    --color-woodsmoke-900: #3d3d3d;
    --color-woodsmoke-950: #1b1b1b;
    /* color - steel-blue */
    --color-steel-blue-50: #f4f7fb;
    --color-steel-blue-100: #e8eef6;
    --color-steel-blue-200: #cbdcec;
    --color-steel-blue-300: #9dbfdc;
    --color-steel-blue-400: #689cc8;
    --color-steel-blue-500: #4682b4;
    --color-steel-blue-600: #346695;
    --color-steel-blue-700: #2b5279;
    --color-steel-blue-800: #274665;
    --color-steel-blue-900: #253c55;
    --color-steel-blue-950: #182739;
  }

  @font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 200 300 400 500 600 700 800 900;
    font-display: swap;
    src: url("./assets/InterVariable.woff2") format("woff2");
  }

  :root {
    @apply bg-woodsmoke-950 leading-relaxed text-steel-blue-200/75 antialiased selection:bg-steel-blue-300 selection:text-steel-blue-900;
    font-family: "InterVariable", var(--font-sans);
    --grid-size: 36px;
  }
}

.active {
  .nav-indicator {
    width: 4rem;
    background-color: var(--color-woodsmoke-200);
  }
  .nav-text {
    color: var(--color-woodsmoke-200);
  }
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -3;
  overflow-y: hidden;
}

#background::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: hidden;

  background: linear-gradient(
    to right,
    transparent 30%,
    var(--color-steel-blue-500) 50%,
    transparent 55%
  );
  background-size: 200%;
  background-blend-mode: lighten;
  animation: background-pan 7s linear infinite;
}

#background::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: hidden;

  background: linear-gradient(
    to bottom,
    transparent 15%,
    var(--color-steel-blue-500) 50%,
    transparent 60%
  );
  background-size: 100vw 200vh;
  animation: background-scroll 3s linear infinite;
}

#grid {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow-y: hidden;

  background-image:
    linear-gradient(to right, rgba(61, 61, 61, 0.05) 1px,transparent 1px),
    linear-gradient(to bottom, rgba(61, 61, 61, 0.05) 1px,transparent 1px);
  background-size: var(--grid-size) var(--grid-size);
  background-position: calc(var(--grid-size) / 2) calc(var(--grid-size) / 2);
}

#dot-grid {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
  overflow-y: hidden;

  background-image: radial-gradient(transparent 1px, var(--color-woodsmoke-950) 0);
  background-size: var(--grid-size) var(--grid-size);
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

@keyframes background-scroll {
  from {
    background-position: center 0%;
  }
  to {
    background-position: center -200%;
  }
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
  }
}
